<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="styles.css" />
  <title>Creative Project 3</title>
</head>




<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-custom">
    <a class="navbar-brand" href="index.html">
      <i class="fa fa-wheelchair-alt"></i>
      &nbsp;&nbsp;&nbsp;Creative Project 3
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    </div>
  </nav>


  <div id="app">
    
    <h1>Creative Project 3</h1>
    <br>
    <br>


    <div class="blue-container" style="border: 2px solid #adcfe6; border-radius: 25px;">
      <div class="centered">
        <form>
          <p>Enter your name:</p>
          <br>
          <input v-model="values.studentName" placeholder="name"></input>
          <br>
        </form>
      </div>
    </div>

    <br>
    <br>

    <div class="blue-container" style="border: 2px solid #adcfe6; border-radius: 25px;">
      <div class="centered">
        <form>
          <p>Enter your team number:</p>
          <br>
          <input v-model="values.studentNumber" placeholder="team number"></input>
        </form>
      </div>
    </div>

    <br>
    <br>

    <div class="blue-container" style="border: 2px solid #adcfe6; border-radius: 25px;">
      <div class="centered">
        <form>
          <p>Enter the number for the team you rated:</p>
          <br>
          <input v-model="values.reviewedNumber" placeholder="team number"></input>
        </form>
      </div>
    </div>

    <br>
    <br>

    <div class="blue-container" style="border: 2px solid #adcfe6; border-radius: 25px;">
      <div class="centered">
        <form>
          <p>How did they do for creativity?</p>
          <p>On a scale of 1 - 10</p>
          <br>
          <input type="int" v-model="values.creativityScore" placeholder="0"></input>
        </form>
      </div>
    </div>

    <br>
    <br>

    <div class="blue-container" style="border: 2px solid #adcfe6; border-radius: 25px;">
      <div class="centered">
        <form>
          <p>What would you rate this project so far as fulfilling the requirements and "Wowing" you?</p>
          <p>On a scale of 1 - 10</p>
          <br>
          <input type="int" v-model="values.wowScore" placeholder="0"></input>
        </form>
      </div>
    </div>

    <br>
    <br>

    <div class="blue-container" style="border: 2px solid #adcfe6; border-radius: 25px;">
      <div class="centered">
        <form>
          <p>Any Comments for the developers?</p>
          <br>
          <input v-model="values.comments" placeholder="comments"></input>
        </form>
      </div>
    </div>

    <br>
    <br>


    <div class="centered">
      <form>
        <button id="submitForm" type="button" v-on:click="submitForm" style="colord: blue;">Submit Form!</i></button>
      </form>
    </div>
  </div>

  <br>
  <br>
  <br>
  <br>

  <div class="footer">
    <div color="white">Created by Spring &nbsp; &nbsp;&nbsp;
      <i class="fa fa-github" style="color:yellow; height: 20px;"></i>
      <a href="https://github.com/BYUCS260/lab-3-vue-springsc123" class="yellow">
      Check out my Github</a></div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vue-star-rating/dist/star-rating.min.js"></script>
  <script src="script.js"></script>
</body>

</html>
